#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

grp_pid = gen.add_group("PID", type="tab")
grp_pid.add("enable_speed_pid", bool_t, 0, "True to enable speed controller pid", True)
grp_pid.add("min_dt_wheel_speed", double_t, 0, "Minimum delta t for calculating wheel speed", 0.02, 0.02, 0.5)
grp_pid.add("kp_speed", double_t, 0, "KP for speed controller", 0.2, 0.0, 100.0)
grp_pid.add("ki_speed", double_t, 0, "KI for speed controller", 0.0, 0.0, 100.0)
grp_pid.add("ki_speed_max", double_t, 0, "KI windup for speed controller", 0.0, 0.0, 100.0)
grp_pid.add("kd_speed", double_t, 0, "KD for speed controller", 0.008, 0.0, 100.0)
# TODO: vesc doesn't use ki_speed_max, uses kd_factor
# grp_pid.add("kd_speed_factor", double_t, 0, "KD factor for speed controller", 0.008, 0.0, 100.0)

gen.add("scale_speed", bool_t, 0, "Scale wheel speeed to +-100 duty", True)

exit(gen.generate("mower_comms", "mower_comms", "MowerComms"))
