<?xml version="1.1"?>
<launch>
  <!-- Standalone example launch file for an ntrip client -->

  <!-- Declare arguments with default values -->
  <arg name="host"                            default = "$(env OM_NTRIP_HOSTNAME)" />
  <arg name="port"                            default = "$(env OM_NTRIP_PORT)" />
  <arg name="mountpoint"                      default = "$(env OM_NTRIP_ENDPOINT)" />
  <arg name="username"                        default = "$(env OM_NTRIP_USER)" />
  <arg name="password"                        default = "$(env OM_NTRIP_PASSWORD)" />
  <arg name="ntrip_version"                   default = "Ntrip/2.0" />
  <arg name="ssl"                             default = "false" />
  <arg name="cert"                            default = "" />
  <arg name="key"                             default = "" />
  <arg name="ca_cert"                         default = "" />
  <arg name="debug"                           default = "false" />
  <!-- ****************************************************************** -->
  <!-- NTRIP Client Node -->
  <!-- ****************************************************************** -->
  <node name="ntrip_client_node" pkg="ros_ntrip_client" type="ntrip_client_node" output="screen" ns="ntrip_client" respawn="true" respawn_delay="10">

    <!-- Required parameters used to connect to the NTRIP server -->
    <param name="host"       value="$(arg host)" />
    <param name="port"       value="$(arg port)" />
    <param name="mountpoint" value="$(arg mountpoint)" />

    <!-- Optional parameter that will set the NTRIP version in the initial HTTP request to the NTRIP caster. -->
    <param name="ntrip_version" value="$(arg ntrip_version)" />

    <!-- If username is empty, the client will connect unauthenticated -->
    <param name="username" value="$(arg username)" />
    <param name="password" value="$(arg password)" />

    <!-- Whether to connect with SSL. cert, key, and ca_cert options will only take effect if this is true -->
    <param name="tls_enabled" value="$(arg ssl)" />

    <!-- If the NTRIP caster uses cert based authentication, you can specify the cert and keys to use with these options -->
    <param name="tls_client_cert_file" value="$(arg cert)" />
    <param name="tls_client_key_file"  value="$(arg key)" />

    <!-- If the NTRIP caster uses self signed certs, or you need to use a different CA chain, specify the path to the file here -->
    <param name="tls_ca_cert_file" value="$(arg ca_cert)" />

    <!-- Frame ID to attach to published RTCM messages -->
    <param name="rtcm_frame_id" value="odom" />

    <!-- Use public-caster-safe reconnect defaults -->
    <param name="max_attempts" value="0" />
    <param name="adaptive_reconnect" value="true" />
    <param name="reconnect_initial_delay_sec" value="5.0" />
    <param name="reconnect_max_delay_sec" value="300.0" />
    <param name="reconnect_backoff_multiplier" value="2.0" />

    <!-- How many seconds is acceptable in between receiving RTCM. If RTCM is not received for this duration, the node will attempt to reconnect -->
    <param name="rtcm_timeout_sec" value="30" />
    <remap from="/ntrip_client/nmea" to="/nmea" />

</node>
</launch>
