<!--
    This launch file starts all communication needed in order to control and localize the bot.
    I.e. the raw data comms to the Low Level Board, the GPS, etc.
-->
<launch>
    <!-- TODO: Add parameter for simulation -->

    <node pkg="mower_comms_hb" type="mower_comms.py" name="mower_comms">
        <param name="ll_serial_port" value="/dev/ttyAMA0"/>
        <param name="left_esc_serial_port" value="/dev/ttyAMA2"/>
        <param name="right_esc_serial_port" value="/dev/ttyAMA4"/>
        <param name="mow_esc_serial_port" value="/dev/ttyAMA3"/>
    </node>
    
    <include file="$(find open_mower)/launch/include/_gps.launch">
    </include>


</launch>
