<!--
    This launch file starts all communication needed in order to control and localize the bot.
    I.e. the raw data comms to the Low Level Board, the GPS, etc.
-->
<launch>
    <!-- TODO: Add parameter for simulation -->

    <node name="rosserial" pkg="rosserial_python" type="serial_node.py" required="true">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="115200" />
    </node>

    <node pkg="mower_imu" type="mower_imu" name="mower_imu">
    </node>
    
    <include file="$(find open_mower)/launch/include/_gps.launch">
        <arg name="serial_port" value="$(env OM_GPS_SERIAL_PORT)"/>
        <arg name="ntrip_ip" value="$(env OM_NTRIP_HOSTNAME)"/>
        <arg name="ntrip_port" value="$(env OM_NTRIP_PORT)"/>
        <arg name="ntrip_endpoint" value="$(env OM_NTRIP_ENDPOINT)"/>
        <arg name="ntrip_user" value="$(env OM_NTRIP_USER)"/>
        <arg name="ntrip_password" value="$(env OM_NTRIP_PASSWORD)"/>
    </include>


</launch>
