<launch>

    <node pkg="mower_logic" type="mower_odometry" name="mower_odometry" output="screen" required="true">
        <param name="imu_offset" value="-88.5"/>
        <param name="gps_antenna_offset" value="0.379"/>

        <param name="gps_filter_factor" value="0.5"/>
        <param name="magnetic_filter_factor" value="0.009"/>
        <param name="magnetic_offset_x" value="15.4595"/>
        <param name="magnetic_offset_y" value="59.8553"/>
    </node>

</launch>
