#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("battery_voltage", double_t, 0, "battery voltage", 28, 0, 32)
gen.add("temperature_mower", double_t, 0, "battery voltage", 40, 0, 100)
gen.add("is_charging", bool_t, 0, "is charging", False)
gen.add("mower_error", bool_t, 0, "mower error", False)
gen.add("mower_running", bool_t, 0, "mower running", False)
gen.add("wheels_stalled", bool_t, 0, "wheels_stalled", False)
gen.add("emergency_stop", bool_t, 0, "emergency_stop", False)
gen.add("rain", bool_t, 0, "rain", False)
gen.add("simulation_rate_hz", double_t, 0, "Robot state integration and odometry publish rate in Hz", 25.0, 1.0, 500.0)
gen.add("diff_drive_service_rate_hz", double_t, 0, "Diff-drive service update rate in Hz", 25.0, 1.0, 500.0)
gen.add("imu_service_rate_hz", double_t, 0, "IMU service update rate in Hz", 100.0, 1.0, 500.0)
gen.add("gps_service_rate_hz", double_t, 0, "GPS service update rate in Hz", 10.0, 0.1, 100.0)
gen.add("emergency_service_rate_hz", double_t, 0, "Emergency service update rate in Hz", 1.0, 0.1, 100.0)
gen.add("mower_service_rate_hz", double_t, 0, "Mower service update rate in Hz", 2.0, 0.1, 100.0)
gen.add("power_service_rate_hz", double_t, 0, "Power service update rate in Hz", 1.0, 0.1, 100.0)


exit(gen.generate("mower_simulation", "mower_simulation", "MowerSimulation"))
